/*
Available font families:

SUBTITLE FONTS:
    font-family: "Josefin Sans", serif;
    font-family: "Quicksand", sans-serif;
    font-family: "Montserrat", sans-serif;

BODY FONTS:
*/

html {
    height:100%;
    margin:0;
}

body {
    margin:0;
    min-height:100%;
    height:100%;
    background-color:#fdfdfd;
}

header {
    position:fixed;
    width:100%;
    height:72px;
    background:#fdfdfd;
    z-index:999;
}

h6 {
    font-family: "Montserrat", sans-serif;
    text-align:center;
    color:#000;
    margin-top:8px;
    margin-bottom:8px;
}

#headershadow {
    position:fixed;
    padding-top:72px;
    width:100%;
    height:4px;
    background:#c0c0c0;
    z-index:998;
}

img.nav-profile-img {
    margin:4px 0 0 4px;
    float:left;
}

#navbar {
    font-family: "Montserrat", sans-serif;
    text-align:left;
    font-size:18px;
    margin-top:26px;
}
#navbar a {margin-left:28px;}
#navbar a:link {text-decoration:none; color:#222;}
#navbar a:visited {text-decoration:none; color:#222;}
#navbar a:hover {text-decoration:none; color:#999;}
#navbar a:active {text-decoration:none; color:#bbb;}
#navbar a.navbar-current-page {color:#999;}

#navicon {
    display:none;
    position:relative;
}
#navicon li {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    top:16px;
}
#navicon li, #navicon a {
    height:40px;
    display:block;
}
.navicon-rollover-home {
    left:18px;
    background:url("../assets/navigation/ic_home_48px.svg");
}
.navicon-rollover-about {
    left:82px;
    background:url("../assets/navigation/ic_info_outline_48px.svg");
}
.navicon-rollover-work {
    left:146px;
    background:url("../assets/navigation/ic_folder_open_48px.svg");
}
.navicon-rollover-contact {
    left:210px;
    background:url("../assets/navigation/ic_mail_48px.svg");
}
.navicon-rollover {width:40px;}
.navicon-rollover:hover {background-position:-40px;}
.navicon-current-page {background-position:-40px}

.uppercase {text-transform: uppercase;}

#content {
    background:#2c9bdf;
    padding-top:80px;
    padding-left:8px;
    padding-right:8px;
    float:left;
    display:block;
}

.vertically-centered-banner-outer {display:table; height:380px; overflow:hidden;}
.vertically-centered-banner-inner {display:table-cell; vertical-align: middle;}

.language-name {
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    padding-bottom:2px;
    background-color:#d6d6d6;
}

.full-banner {
    background:rgb(236, 236, 236);
    height:380px;
}

.large-body {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    padding-left:10px;
    margin:0;
    text-align:right;
}

.medium-title {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding: 10px 15px 10px 15px;
    margin:0;
}

.regular-body {
    font-family: "Quicksand", sans-serif;
    padding: 10px 15px 10px 15px;
    margin:0;
}

.full-banner img {
    width:380px;
    height:380px;
    float:right;
}

.left-container {
    background:rgba(236, 236, 236, 1);
    float:left;
    margin-top:8px;
    padding-right:4px;
    height:380px;

    /* Firefox */
    width: -moz-calc(50% - 8px);
    /* WebKit */
    width: -webkit-calc(50% - 8px);
    /* Opera */
    width: -o-calc(50% - 8px);
    /* Standard */
    width: calc(50% - 8px);
}

.right-container {
    background:rgba(236, 236, 236, 1);
    float:right;
    margin-top:8px;
    height:380px;

    /* Firefox */
    width: -moz-calc(50% - 8px);
    /* WebKit */
    width: -webkit-calc(50% - 8px);
    /* Opera */
    width: -o-calc(50% - 8px);
    /* Standard */
    width: calc(50% - 8px);
}

footer.site-footer {
    background:#2c9bdf;
    width:100%;
    height:100%;
    clear:both;
    padding-top:8px;
}

/* MOBILE DEVICES */

@media screen and (max-width:600px) {

    #navbar {
        display:none;
    }

    #navicon {
        display:inline;
    }

    .vertically-centered-banner-outer {display:table; height:300px; overflow:hidden;}
    .vertically-centered-banner-inner {display:table-cell; vertical-align: middle;}

    .full-banner {
        height:300px;
    }

    .full-banner h1 {
        padding-right:10px;
        text-align:center;
    }

    .full-banner img {
        width:0px;
        height:0px;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        width:100%;
        float: left;
    }

    .medium-title {
        text-align: center;
    }

    .regular-body {
        text-align: center;
    }
}