---

---

$sidebar-width: 250px;

/*
 * Available font families:
 *
 * font-family: "Quicksand", sans-serif;
 * font-family: "Montserrat", sans-serif;
 * font-family: "Droid Sans", sans-serif;
 */

html {
  height:100%;
  margin:0;
}

body {
  margin:0;
  min-height:100%;
  height:100%;
  background-color:#ffffff;
  font-family: 'Droid Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.content {
  width: 100%;
  height: 100%;
  padding-left: $sidebar-width;
  font-size: 0;
}

// Sections

#about {
  min-height: 100vh;
  position: relative;

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    margin-left: 96px;
  }
}

#projects {
  min-height: 100vh;
  position: relative;
}

#work {
  min-height: 100vh;
  position: relative;
}

#contact {
  min-height: 100vh;
  position: relative;
  width: 100%;

  .icons {
    width: calc(100% - #{$sidebar-width});
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 128px;
    height: 128px;
    margin: 16px;
  }
}

.center-vertical {
  position: absolute;
  top: 50%;

  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

// Section dividers

.divider {
  padding: 0;
  margin: 0;
  height: 150px;
  width: 100%;

  &.bottom {
    position: absolute;
    left: 0;
    bottom: 0;

    -webkit-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
  }
}

// Background colors

svg.gray {
  fill: #EBEBEB;
}

svg.blue {
  fill: #3FA9F5;
}

svg.orange {
  fill: #FBB03B;
}

svg.red {
  fill: #D4145A;
}

// Sidebar properties

.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  font-size: 16pt;
  font-family: 'Quicksand', sans-serif;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    text-align: right;
    padding: 0;
    margin: 24px 0 0 0;
  }

  .sidebar-content {
    width: 170px;
  }

  .headshot {
    width: 170px;
    height: 170px;
  }

  .nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    float: left;
  }

  .nav-indicators {
    margin-left: 20px;
    float: left;

    li {
      position: relative;
    }
  }

  .indicator {
    position: relative;
    width: 16px;
    height: 16px;
    line-height: 16pt;
  }

  .indicator-filled {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 2;
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
