---

---

/*
 * Available font families:
 *
 * font-family: "Quicksand", sans-serif;
 * font-family: "Droid Sans", sans-serif;
 */

$primaryBackground: #222F3E;
$primaryText: #8395A7;
$highlightText: #FFFFFF;

$spacingLarge: 32px;
$spacingStandard: 16px;
$spacingSmall: 8px;
$spacingTiny: 4px;

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $primaryText;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background-color: $primaryBackground;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  z-index: 1000;
  background-color: $primaryBackground;
  position: fixed;

  .links {
    padding: $spacingStandard;
    a {
      padding: $spacingStandard;
    }

    a:hover {
      cursor: pointer;
      color: #FFFFFF;
    }
  }
}

.base-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#about-header {
  position: absolute;
  top: 9999px;
}

#contact-header {
  width: 100%;
  position: absolute;
  top: 9999px;
}

.header-separator {
  width: 100%;
  height: 8px;
}

.separator-green-1 {
  background-color: #10AC84;
}
.separator-green-2 {
  background-color: #098B6A;
}
.separator-blue-1 {
  background-color: #54A0FF;
}
.separator-blue-2 {
  background-color: #2E86DE;
}
.separator-yellow-1 {
  background-color: #FECA57;
}
.separator-yellow-2 {
  background-color: #FF9F43;
}

.highlight {
  color: $highlightText;
}

.page-centred {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: $spacingStandard;
  margin-right: $spacingStandard;

  img {
    width: 256px;
    height: 256px;
  }

  .description {
    margin-left: $spacingLarge;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin-top: $spacingSmall;
    }
  }
}

#about {
  min-height: 100vh;

  .about-inner {
    display: flex;
    flex-direction: row;
  }

  #highlights-personal {
    align-items: flex-end;
  }

  .section-highlights {
    margin-top: $spacingLarge;
    width: 48%;
    display: flex;
    flex-direction: column;
    padding-left: $spacingLarge;
    padding-right: $spacingLarge;
  }

  .highlight-items {
    margin-top: $spacingLarge;
  }

  .highlight-separator {
    margin-top: $spacingLarge;
    background-color: #8395A7;
    width: 1pt;
  }

  .highlight-header-right {
    text-align: right;
  }
}

#contact {
  padding-top: $spacingLarge;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;
      margin: $spacingLarge;
    }
  }
}

.item-highlight {
  max-width: 40em;
  margin: $spacingStandard;

  .item-header {
    display: inline;
    img {
      float: left;
      width: 24px;
      height: 24px;
      margin-right: $spacingSmall;
    }
  }

  .item-details {
    display: flex;
    align-items: center;
    margin: $spacingStandard;

    img {
      width: 100px;
      height: auto;
      max-height: 100px;
    }

    .item-description {
      margin: $spacingSmall;
    }

    p {
      margin: $spacingSmall;
    }
  }
}

// Mobile

@media screen and (max-width: 850px) {
  h1 { font-size: 18pt; }
  h2 { font-size: 16pt; }
  h3 { font-size: 14pt; }
  p { font-size: 12pt; }

  #me {
    img {
      width: 128px;
      height: 128px;
    }
  }

  #about {
    .about-inner {
      flex-direction: column;
    }
    .section-highlights {
      padding-left: $spacingStandard;
      padding-right: $spacingStandard;
      width: 90%;
    }

    #highlights-personal {
      align-items: flex-start;
    }
  }

  #contact {
    .links {
      img {
        width: 48px;
        height: 48px;
        margin: $spacingStandard;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    .links {
      padding: $spacingSmall;
      a {
        padding: $spacingSmall;
      }
    }
  }

  .item-highlight {
    .item-details {
      img {
        width: 48px;
        height: auto;
        max-height: 48px;
      }
    }
  }

  #contact {
    .links {
      img {
        width: 24px;
        height: 24px;
        margin: $spacingSmall;
      }
    }
  }
}
