/*
Available font families:

    font-family: "Quicksand", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

html {
    height:100%;
    margin:0;
}

body {
    margin:0;
    min-height:100%;
    height:100%;
    background-color:#fdfdfd;
}

header {
    position:fixed;
    width:100%;
    height:72px;
    background:#fdfdfd;
    z-index:999;
}

h6 {
    font-family: "Montserrat", sans-serif;
    text-align:center;
    margin-top:8px;
    margin-bottom:8px;
}

strong {
    background:rgba(236, 236, 236, 0.2);
    padding-left:2px;
    padding-right:2px;
}

#headershadow {
    position:fixed;
    padding-top:72px;
    width:100%;
    height:4px;
    background:#c0c0c0;
    z-index:998;
}

img.nav-profile-img {
    margin:4px 0 0 4px;
    float:left;
}

#navbar {
    font-family: "Montserrat", sans-serif;
    text-align:left;
    font-size:18px;
    margin-top:26px;
}
#navbar a {margin-left:28px;}
#navbar a:link {text-decoration:none; color:#222;}
#navbar a:visited {text-decoration:none; color:#222;}
#navbar a:hover {text-decoration:none; color:#999;}
#navbar a:active {text-decoration:none; color:#bbb;}
#navbar a.navbar-current-page {color:#999;}

#navicon {
    display:none;
    position:relative;
}
#navicon li {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    top:16px;
}
#navicon li, #navicon a {
    height:40px;
    display:block;
}
.navicon-rollover-home {
    left:18px;
    background:url("../assets/navigation/ic_home_48px.svg");
}
.navicon-rollover-about {
    left:82px;
    background:url("../assets/navigation/ic_info_outline_48px.svg");
}
.navicon-rollover-work {
    left:146px;
    background:url("../assets/navigation/ic_folder_open_48px.svg");
}
.navicon-rollover-contact {
    left:210px;
    background:url("../assets/navigation/ic_mail_48px.svg");
}
.navicon-rollover {width:40px;}
.navicon-rollover:hover {background-position:-40px;}
.navicon-current-page {background-position:-40px}

.uppercase {text-transform: uppercase;}

#content {
    background:#2c9bdf;
    padding-top:88px;
    padding-left:16px;
    padding-right:16px;
    float:left;
}

.vertically-centered-banner-outer {display:table; height:380px; overflow:hidden;}
.vertically-centered-banner-inner {display:table-cell; vertical-align: middle;}

.large-body {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    padding-left:10px;
    margin:0;
    text-align:right;
}

.medium-title {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding: 10px 15px 10px 15px;
    margin:0;
}

.regular-body {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px 10px 15px;
    margin:0;
    text-align: justify;
}

#mobile-headshot {
    display:none;
}

.full-banner-desktop {
    background:rgba(236, 236, 236, 0.2);
    height:380px;
}

img.full-banner-desktop-img {
    width:380px;
    height:380px;
    float:right;
}

.left-container {
    background:rgba(236, 236, 236, 0.2);
    float:left;
    margin-top:16px;

    /* Firefox */
    width: -moz-calc(50% - 8px);
    /* WebKit */
    width: -webkit-calc(50% - 8px);
    /* Opera */
    width: -o-calc(50% - 8px);
    /* Standard */
    width: calc(50% - 8px);
}

.right-container {
    background:rgba(236, 236, 236, 0.2);
    float:right;
    margin-top:16px;

    /* Firefox */
    width: -moz-calc(50% - 8px);
    /* WebKit */
    width: -webkit-calc(50% - 8px);
    /* Opera */
    width: -o-calc(50% - 8px);
    /* Standard */
    width: calc(50% - 8px);
}

footer.site-footer {
    background:#2c9bdf;
    width:100%;
    height:100%;
    clear:both;
    padding-top:16px;
}

/* MOBILE DEVICES */

@media screen and (max-width:800px) {

    #navbar {
        display:none;
    }

    #navicon {
        display:inline;
    }

    .vertically-centered-banner-outer {display:table; height:auto; overflow:hidden;}
    .vertically-centered-banner-inner {display:table-cell; vertical-align: middle;}

    #mobile-headshot {
        display:block;
        background:rgba(236, 236, 236, 0.2);
        width:100%;
        margin-bottom:16px;
    }

    img.full-banner-mobile-img {
        background:rgba(236, 236, 236, 0.2);
        display:block;
        max-width:100%;
        margin-right: auto;
        margin-left: auto;
        float:center;
    }

    .full-banner-desktop {
        background:rgba(236, 236, 236, 0.2);
        color:#000;
        height:auto;
        overflow: auto;
        padding-top:20px;
        padding-bottom:20px;
    }

    .full-banner-desktop h1 {
        padding-right:10px;
        text-align:center;
    }

    img.full-banner-desktop-img {
        height: 0;
        width: 0;
    }

    .left-container {
        background:rgba(0, 0, 0, 0);
        width: 100%;
    }

    .right-container {
        background:rgba(0, 0, 0, 0);
        width:100%;
        float: left;
    }

    .medium-title {
        text-align: center;
    }
}