---

layout: default
title: Joseph Roque | Design
sidebar_links: /index.html

---

{% include base.html %}

<div id='designs'>

  {% for design in site.data.designs %}
    <div class='design'>
      <!-- Top divider -->
      <svg class='divider blue' preserveAspectRatio='none' viewBox='0 0 800 150' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'>
          <path d='M800,0L0,0L0,150L800,75L800,0Z' />
      </svg>
      <!-- End top divider -->

      <div class='section'>
        <h2 class='section-title'>"{{ design.name }}"</h2>
        <img src='{{ design.image }}' alt='{{ design.name }}' />
        <p>{{ design.description }}</p>
      </div>

      <!-- Bottom divider -->
      <svg class='divider bottom blue' preserveAspectRatio='none' viewBox='0 0 800 150' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'>
          <path d='M800,0L0,0L0,150L800,75L800,0Z' />
      </svg>
      <!-- End bottom divider -->
    </div>
  {% endfor %}

</div>
