{% include base.html %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="keywords" content="mobile, ios, android, react native, swift, java, kotlin, javascript, python, design, develop, developer, portfolio, showcase, ottawa, ontario, canada" />
    <meta name="author" content="Joseph Roque" />

	<link rel="stylesheet" href="{{ base }}/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% if page.loadjs %}
    <script type="text/javascript" src="{{ base }}/js/script.js" ></script>
  {% endif %}

	<!-- FAVICON BEGINS -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ base }}/assets/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ base }}/assets/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ base }}/assets/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ base }}/assets/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ base }}/assets/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ base }}/assets/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ base }}/assets/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ base }}/assets/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ base }}/assets/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{ base }}/assets/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ base }}/assets/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ base }}/assets/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ base }}/assets/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ base }}/assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="{{ base }}/assets/favicon/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
    <!-- FAVICON ENDS -->

    <!-- FONTS BEGIN -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Quicksand" rel="stylesheet">
    <!-- FONTS END -->
</head>
