{% include base.html %}
<div id="top"></div>
<header>
    <a href="{{ base }}/index.html"><img class="nav-profile-img" src="{{ base }}/assets/josephroque_headshot_64x64.png" alt="Header profile image" /></a>
    <div id="navbar">
        <a href="#top" class="uppercase">Home</a>
        <a href="#about" class="uppercase">About</a>
        <a href="#work" class="uppercase">Work</a>
        <a href="#contact" class="uppercase">Contact</a>
    </div>
    <ul id="navicon">
        <li class="navicon-flex-item navicon-rollover navicon-rollover-home"><a href="#top"></a></li>
        <li class="navicon-flex-item navicon-rollover navicon-rollover-about"><a href="#about"></a></li>
        <li class="navicon-flex-item navicon-rollover navicon-rollover-work"><a href="#work"></a></li>
        <li class="navicon-flex-item navicon-rollover navicon-rollover-contact"><a href="#contact"></a></li>
    </ul>
</header>
<div id="headershadow"></div>
