<header>

  <a href='{{ base }}/index.html'><img class='nav-profile-img' src='{{ base }}/assets/jroque_headshot_64x64.png' alt='Headshot' /></a>
  <ul class='nav'>
    <li>
      <a href='#about'>
        <svg class='dark-gray' id='about-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d='M0 0h24v24H0z' fill='none'></path>
          <path d='M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z'></path>
        </svg>
      </a>
    </li>
    <li>
      <a href='#skills'>
        <svg class='dark-gray' id='skills-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d='M0 0h24v24H0z' fill='none'></path>
          <path d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'></path>
          <path d='M0 0h24v24H0z' fill='none'></path>
        </svg>
      </a>
    </li>
    <li>
      <a href='#projects'>
        <svg class='dark-gray' id='projects-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d='M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z'></path>
          <path d='M0 0h24v24H0z' fill='none'></path>
        </svg>
      </a>
    </li>
    <li>
      <a href='#work'>
        <svg class='dark-gray' id='work-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d='M0 0h24v24H0z' fill='none'></path>
          <path d='M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z'></path>
        </svg>
      </a>
    </li>
    <li>
      <a href='#contact'>
        <svg class='dark-gray' id='contact-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'></path>
          <path d='M0 0h24v24H0z' fill='none'></path>
        </svg>
      </a>
    </li>
  </ul>
</header>

<div class='shadow'></div>
