{% include base.html %}

<div class='sidebar'>
  <div class='sidebar-content'>
    <img class='headshot' src='{{ base }}/assets/jroque_headshot_circle.png' alt='Headshot' />
    <div class='nav'>
      <ul class='nav-list'>
        <li><a href='#about'>About</a></li>
        <li><a href='#projects'>Projects</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#contact'>Contact</a></li>
      </ul>
      <ul class='nav-indicators'>
        <li>
          <a href='#about'>
            <img src='{{ base }}/assets/indicator_outline.svg' class='indicator' alt='About indicator' />
            <img id='about-indicator' src='{{ base }}/assets/indicator.svg' class='indicator-filled' alt='indicator' />
          </a>
        </li>
        <li>
          <a href='#projects'>
            <img src='{{ base }}/assets/indicator_outline.svg' class='indicator' alt='Project indicator' />
            <img id='project-indicator' src='{{ base }}/assets/indicator.svg' class='indicator-filled' alt='indicator' />
          </a>
        </li>
        <li>
          <a href='#work'>
            <img src='{{ base }}/assets/indicator_outline.svg' class='indicator' alt='Work indicator' />
            <img id='work-indicator' src='{{ base }}/assets/indicator.svg' class='indicator-filled' alt='indicator' />
          </a>
        </li>
        <li>
          <a href='#contact'>
            <img src='{{ base }}/assets/indicator_outline.svg' class='indicator' alt='Contact indicator' />
            <img id='contact-indicator' src='{{ base }}/assets/indicator.svg' class='indicator-filled' alt='indicator' />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
